<h1>People#show</h1>
<p><%= @msg %></p>
<table>
   <tr><th>Id</th>
    <td><%=@data.id%></td></tr>
   <tr><th>Name</th>
    <td><%=@data.name%></td></tr>
   <tr><th>Age</th>
    <td><%=@data.age%></td></tr>
   <tr><th>Main</th>
    <td><%=@data.main%></td></tr>
</table>
